<!-- <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
        <span>Welcome to Survey App</span>
    </mat-toolbar-row> -->

    <!-- <mat-toolbar class="toolbar">Welcome to Survey App :)
        <div class="basic-btn">
          <button mat-button >Home</button> </div>
          <div class="basic-btn history">
            <button mat-button >History</button>
          </div>
          <div class="basic-btn logout">
            <button mat-button >Log Out</button>
          </div>
       
      </mat-toolbar> -->