form{
    width: 500px;
    height: 500px;
    }
    .container{
        height : 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .signin{
        margin-top:0.5em;
    }
    .border{
        box-shadow: 10px 10px rgb(210, 210, 210);
    }
    .body{
        background-color: #92bdf8;
    }