.example-form {
  min-width: 550px;
  width: 100%;
}

.example-full-width {
  width: 100%;

    margin: 12px 0;
    background-color: #565656b5;
    width: 550px;
    border-radius: 5px;
    padding: 8px;
  
}

.email{
  color: black;
}