form{
    width: 300px;
    height: 279px;
}
.loginbtn{
    margin-top:1em;
    padding-left:2px ;
    padding-right:2px ;
}
.container{
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.border{
    box-shadow: 10px 10px rgb(210, 210, 210);
}
.body{
    background-color: #92bdf8;
}