<app-header></app-header>

<div cdkDropListGroup class="fullPage">
  
  <div class="example-container">
    <div class="h2">
    <h2>components</h2></div>
    <div cdkDropList [cdkDropListData]="components" class="example-list">
      <div class=" item example-box" *ngFor="let item of components" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>
  <div class="example-container">
    <div class="h2">
    <h2>Form</h2></div>
    <div 
      cdkDropList
      [cdkDropListData]="Form"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <!-- Text Area -->
      <div *ngFor="let item of Form" cdkDrag>
        <div *ngIf="item === 'Text Area'">
          <br />
          <form class="example-form" [formGroup]="userForm">
            <div
              class="address-container"
              *ngFor="let group of addressArray.controls; let i = index"
              formArrayName="address"
            >
              <div class="form-group jumbotron" [formGroupName]="i">
                <div>
                  <input type="text" placeholder="Enter Your Question">
                  <!-- <button
                    *ngIf="i > 0"
                    class="btn btn-danger float-end mb-1"
                    (click)="removeAddress(i)"
                  >
                    Remove button
                  </button> -->
                </div>
                <br />
              </div>
            </div>
            <div class="form-row org-desc-parent-margin">
              <!-- <button class="btn btn-primary" (click)="addAddress1()">
                Add More option+
              </button> -->
              
                <button (click)="onDelete(item)" class="deletebtn btn-primary" > Delete</button>
                  <button class="addbtn btn-primary" > Save</button>
                
            </div>
          
          </form>
          <hr />
          
        </div><br>
        

        <!-- single choice question -->

        <div *ngIf="item === 'Single Choice Question'">
          <div>
            <input type=" text" placeholder="Enter Your Question" /> <br />
          </div>
          <br />
          <form class="example-form" [formGroup]="userForm">
            <div
              class="address-container"
              *ngFor="let group of addressArray.controls; let i = index"
              formArrayName="address"
            >
              <div class="form-group jumbotron" [formGroupName]="i">
                <div>
                  <input type="radio" name="ch" id="" />
                  <input type="text" placeholder="Option" />

                  <button
                    *ngIf="i > 0"
                    class="btn btn-danger float-end mb-1"
                    (click)="removeAddress(i)"
                  >
                    Remove button
                  </button>
                  
                </div>
                <br/>
                
              </div>
            </div>
            <div class="form-row org-desc-parent-margin">
              <button class="btn btn-primary" (click)="addAddress2()">
                Add More option+
              </button>
              <button (click)="onDelete(item)" class="deletebtn btn-primary" > Delete</button>
                  <button class="addbtn btn-primary" > Save</button>
            </div>
          </form>
          <hr/>
        </div>


        <!-- Multiple choice question -->

        <div *ngIf="item === 'Multiple Choice Question'">
          <div>
            <input class="" type=" text" placeholder="Enter Your Question" /><br />
          </div>
          <br />
          <form class="example-form" [formGroup]="userForm">
            <div
              class="address-container"
              *ngFor="let group of addressArray.controls; let j = index"
              formArrayName="address"
            >
              <div class="form-group jumbotron" [formGroupName]="j">
                <div>
                  <input type="checkbox" name="ch" id="" />
                  <input type="text" placeholder="Option" />

                  <button
                    *ngIf="j > 0"
                    class="btn btn-danger float-end mb-1"
                    (click)="removeAddress(j)"
                  >
                    Remove button
                  </button>
                </div>
                <br />
              </div>
            </div>
            <div class="form-row org-desc-parent-margin">
              <button class="btn btn-primary" (click)="addAddress1()">
                Add More option+
              </button>
              <button (click)="onDelete(item)" class="deletebtn btn-primary" > Delete</button>
              <button class="addbtn btn-primary" > Save</button>
            </div>
          </form>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
